GOOGLE_SHEETS_CREDENTIALS_JSON=seu_json_aqui # opcional (cole o JSON inteiro)
# GOOGLE_APPLICATION_CREDENTIALS=./credenciais.json # alternativa usando caminho do arquivo
SPREADSHEET_ID=1cn-9mg-_8QzYtZpCoLpDvglA036m1j70OvQaO3Ebo4M
WORKSHEET_TITLE=Planilha1
FLASK_ENV=production
PORT=3000
